.button {
  display: grid;
  align-items: center;
  justify-items: center;
  min-inline-size: 4em;
  min-block-size: 2em;
  padding-block: 0.3em;
  padding-inline: 0.8em;
  border-radius: 0.3em;
  cursor: pointer;
  font-size: 90%;
  font-weight: 600;
  line-height: 1.2;
  text-align: start;

  &.icon {
    grid-template-columns: auto 1fr;
    padding-inline-start: 0.6em;
    column-gap: 0.3em;

    & > .icon {
      font-size: 150%;
      line-height: 0;
    }
  }

  &.primary {
    background-color: var(--gjBlue5);
    color: var(--gjGray0);

    &.hover,
    &:hover {
      background-color: var(--gjBlue7);
    }

    &.active,
    &:active {
      background-color: var(--gjBlue8);
    }
  }

  &.secondary {
    border: solid var(--gj1px) var(--gjGray4);
  }

  &.secondary,
  &.text {
    background-color: var(--gjGray0);

    &.hover,
    &:hover {
      background-color: var(--gjGray2);
    }

    &.active,
    &:active {
      background-color: var(--gjGray3);
    }
  }

  &.focus,
  &:focus {
    outline-style: solid;
  }
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  column-gap: 0.5em;
  justify-content: center;
}
