.app {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 0.5em;
  row-gap: 0.25em;
  user-select: none;

  &>.svg {
    inline-size: 100%;
    grid-column: 1 / -1;
    margin-inline: 0;
    background-color: var(--gjGray2);

    &.hasControl {
      touch-action: none;
    }
  }
}

.spacer {
  grid-column: 1 / -1;
  block-size: 0.5em;
}

.grid {
  fill: none;
  stroke: var(--gjGray3);
  stroke-width: var(--gjPx);
}

.curve {
  fill: none;
  stroke: var(--gjGray9);
  stroke-width: var(--gjPx);
}

.handleLine {
  fill: none;
  stroke: var(--gjGray9);
  stroke-dasharray: calc(var(--gjPx) * 4) calc(var(--gjPx) * 4);
  stroke-width: var(--gjPx);
}

.handle {
  fill: var(--gjGray5);
  stroke: none;
  stroke-width: calc(var(--gjPx) * 5);

  &[data-index="0"],
  &[data-index="3"] {
    fill: var(--gjGray1);
    stroke: var(--gjGray5);
  }

  &.control {
    stroke: var(--gjGray4);
  }

  &.cover {
    fill: transparent;
    outline: 0;
    cursor: grab;
    pointer-events: auto;

    &:focus {
      stroke: var(--gjBlue4);
    }

    &:active {
      stroke: var(--gjBlue6);
      cursor: grabbing;
    }

  }
}

.ruler {
  fill: var(--gjGray9);
  stroke: var(--gjGray1);
  stroke-width: calc(var(--gjPx) * 2);
}

.guide {
  fill: none;
  stroke: var(--gjGray4);
  stroke-width: var(--gjPx);
}

.point {
  fill: var(--gjRed5);
}

.area {
  fill: var(--gjGray1);
  stroke: var(--gjGray6);
  stroke-width: var(--gjPx);
}

.table {
  fill: none;
  stroke: var(--gjRed6);
  stroke-width: var(--gjPx);
}

.animated {
  fill: var(--gjGray7);
}

.text {
  fill: currentcolor;

  &.math {
    font-size: calc(var(--gjPx) * 22);
  }

  &.mono {
    font-size: calc(var(--gjPx) * 16);
    font-family: var(--gjFontMonospace);
  }
}
