.table {
	display: grid;
	grid-template-columns: repeat(12, max-content);
	column-gap: var(--gj1px);
	row-gap: var(--gj1px);
	justify-items: stretch;
	font-size: 80%;
	font-weight: 700;
	overflow: auto;

	& > * {
		padding-inline: 0.5em;
		padding-block: 0.2em;
		background-color: var(--gjColor);
		white-space: nowrap;
		text-align: center;
	}
}
