.container {
  display: block;
  padding-block-start: 1em;
  padding-block-end: 3em;
  margin-inline: auto;

  & > * {
    inline-size: var(--gjBaseWidth);
    margin-inline: auto;
  }

  :global {
    img,
    svg {
      margin-inline: 0.5em;
      max-inline-size: 100%;
      block-size: auto;
      vertical-align: middle;
    }

    .sr-only {
      position: absolute !important;
      margin: 0 !important;
      padding: 0 !important;
      block-size: 0 !important;
      overflow: hidden !important;
    }

    .fragment-ref {
      color: var(--gjColorText2);
      text-decoration: none;
      transition: opacity 50ms;

      &:hover {
        color: var(--gjColorText1);
        text-decoration: underline;
      }
    }

    .hash-hit {
      --gjBackgroundColor: var(--gjYellow1);
      background-color: var(--gjBackgroundColor);
      outline: 0.5em solid var(--gjBackgroundColor);
    }

    h2 {
      font-size: 120%;
      font-weight: 600;
      line-height: 1.4;
    }

    h3,
    h4,
    h5,
    h6 {
      font-size: 100%;
      font-weight: 600;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-block-start: 2em;
      margin-block-end: 0.5em;
    }

    h2 + h3,
    h3 + h4,
    h4 + h5,
    h5 + h6 {
      margin-block-start: 0;
    }

    p {
      margin-block-end: 1em;
    }

    form {
      margin-block-end: 1em;
    }

    ul,
    ol {
      margin-block-end: 1em;
    }

    li {
      ul,
      ol {
        margin-block-end: 0;
      }
    }

    table {
      border-collapse: collapse;
    }

    td,
    th {
      padding-block: 0.3em;
      padding-inline: 0.5em;
      border-style: solid;
      border-color: var(--gjGray4);
      font-size: 90%;
      background-color: var(--gjColorBackground);
    }

    th {
      text-align: center;
      background-color: var(--gjGray2);
    }

    blockquote {
      padding-block: 0.25em;
      padding-inline-start: 0.8em;
      margin-block-end: 1em;
      border-inline-start-style: solid;
      border-inline-start-width: 0.2em;
      opacity: 0.85;

      & > :last-child {
        margin-block-end: 0;
      }
    }

    sup {
      &.footnote-ref {
        font-size: 80%;
        overflow: visible;
        outline-width: 0;

        & > a {
          padding-inline: 0.2em;
        }
      }
    }

    .footnotes {
      display: grid;
      grid-auto-flow: row;
      row-gap: 0.5em;
      justify-items: start;
      margin-block-start: 3em;
      font-size: 90%;

      &::before {
        content: '';
        background-color: currentcolor;
        block-size: var(--gj1px);
        inline-size: 100%;
        max-inline-size: 16em;
      }

      p {
        margin-block-end: 0;
      }

      &>ol {
        &>li {
          outline-width: 0.1em;
          overflow: visible;
        }
      }
    }

    .katex-html {
      font-size: 115%;

      svg {
        margin-inline: unset;
        vertical-align: unset;
      }
    }

    figure {
      margin-block: 1em;
      inline-size: unset;

      & > * {
        inline-size: var(--gjBaseWidth);
        margin-inline: auto;
      }

      & > figcaption {
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: end;
        block-size: 0;
        font-size: 80%;
        line-height: 1.25em;
        overflow: visible;
        transform: translateY(-1lh);

        /* stylelint-disable-next-line no-descending-specificity */
        & > .fragment-ref {
          opacity: 0;

          &:focus {
            opacity: 1;
          }
        }
      }

      &:hover {
        & > figcaption {
          & > .fragment-ref {
            opacity: 1;
          }
        }
      }

      &.caption {
        & > figcaption {
          block-size: unset;
          transform: none;
        }
      }

      &[data-type='table'] {
        display: grid;
        grid-auto-flow: row;
      }

      &[data-type='image'] {
        display: grid;
        grid-auto-flow: row;

        & > * {
          max-inline-size: var(--gjBaseWidth);
        }

        & > img {
          background-color: var(--gjGray2);
        }
      }

      &[data-type='math'] {
        justify-content: center;
        padding-inline: 0.4em;

        & > .katex-html {
          inline-size: 100%;
          min-inline-size: var(--gjBaseWidth);
          max-inline-size: max-content;
          display: grid;
          grid-template-columns: auto max-content;
          column-gap: 0.5em;
          overflow-x: auto;
          overflow-y: hidden;

          .base {
            justify-self: center;
            flex-grow: 1;
            display: inline-flex;
            justify-content: center;

            & > * {
              flex-shrink: 0;
            }
          }

          .tag {
            overflow: hidden;
            pointer-events: none;
          }

          .eqn-num {
            &::before {
              content: none;
            }

            & > .fragment-ref {
              pointer-events: auto;
              color: var(--gjColorText1);
            }
          }
        }
      }

      &[data-type='code'] {
        --gjColorBackground: var(--gjGray1);
        overflow: visible;

        & > .hljs {
          display: grid;
          grid-template-columns: max-content 1fr;
          padding-block: 0.5em;
          padding-inline: 0;
          margin-inline: auto;
          line-height: 1.4;
          background-color: var(--gjColorBackground);
          overflow-x: auto;
          white-space: pre;

          &.language-text-wrap {
            & > span {
              white-space: pre-wrap;
            }
          }

          & > .hljs-ln {
            --gjColorText: var(--gjGray6);
            z-index: 1;
            position: sticky;
            inset-inline-start: 0;
            color: inherit;
            padding-inline-start: 0.5em;
            padding-inline-end: 0.4em;
            font-family: var(--gjFontMonospace);
            text-decoration: none;
            user-select: none;
            text-align: end;
            border-inline-end: solid var(--gj1px) var(--gjGray4);
            background-color: var(--gjColorBackground);

            & > span {
              color: var(--gjColorText);
            }

            & + span {
              padding-inline: 0.4em;
              background-color: var(--gjColorBackground);
            }

            &:hover {
              --gjColorText: var(--gjGray6);
              text-decoration: underline;
            }

            &.hash-hit {
              --gjColorText: var(--gjGray6);
              --gjColorBackground: var(--gjColorFocus2);
              border-inline-end-color: var(--gjColorFocus1);
              outline-width: unset;

              & + span {
                --gjColorBackground: var(--gjColorFocus2);
              }
            }
          }
        }
      }
    }

    .twitter-tweet {
      display: block;
    }

    iframe[src^="https://codesandbox.io/"] {
      block-size: 30em;
    }
  }

  & > header {
    margin-block: 1em;

    & > h1 {
      margin-block: 0;
      font-size: 130%;
      font-weight: 600;
    }

    & > div {
      font-size: 80%;
    }
  }
}
