.container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 0.5em;
  padding-block-start: 1em;
  padding-block-end: 3em;

  & > * {
    inline-size: var(--gjBaseWidth);
  }

  & > header {
    justify-self: stretch;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    inline-size: unset;
    padding-block: 1em;

    & > * {
      inline-size: var(--gjBaseWidth);
    }

    & > h1 {
      margin-block-start: 0;
      font-size: 120%;
    }

    & > div {
      font-size: 80%;
    }
  }
}
