.container {
  display: grid;
  grid-auto-flow: column;
  column-gap: 0.5em;
  justify-content: start;
  align-items: baseline;
  text-align: center;

  & > input {
    width: 6em;
    text-align: end;
  }
}
