.container {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: baseline;
  text-align: center;

  & > span {
    min-inline-size: 3.2em;
    padding-inline: 0.5em;
  }
}

p > .container {
  display: inline-grid;
  margin-inline: 0.5em;
}
