.container {
  display: grid;
  grid-template-columns: 2em 4em 2em;
  justify-content: center;
  align-items: baseline;
  text-align: center;

  & > button {
    border-style: solid;
  }

  & > input {
    text-align: center;
  }
}

p > .container {
  display: inline-grid;
  margin-inline: 0.5em;
}
