.gallery {
  padding: var(--gjBasePadding);
  overflow: auto;
}

.content {
  margin-block-end: 1em;
}

.heading {
  padding-inline: 0.25em;
  margin-block-start: 2em;
  margin-block-end: 1em;
  border-block-end: solid var(--gj1px) currentcolor;
  font-weight: 700;

  &:first-child {
    margin-block-start: 0;
  }
}

.table,
.columns,
.rows {
  display: grid;
  place-content: start;
  place-items: start;
  gap: 0.5em;
  max-inline-size: 100%;
  margin-block-end: 2em;

  & > dt {
    align-self: stretch;
    justify-self: stretch;
    display: grid;
    place-content: center;
    line-height: 1.2;
    font-size: 80%;
    font-weight: 700;
    padding-inline: 1em;
    padding-block: 0.5em;
    background-color: var(--gjGray3);
  }

  & > dd {
    display: grid;
    padding: 0.25em;
  }
}

.columns {
  grid-template-rows: max-content auto;

  & > dd {
    grid-row: 2 / 3;
  }
}

.rows {
  grid-template-columns: max-content auto;

  & > dd {
    grid-column: 2 / 3;
  }
}
