.container {
	display: grid;
	grid-template-columns: auto 1fr auto;

	& > input {
		background-image: linear-gradient(0deg, var(--gjGray5), var(--gjGray5));
		background-size: 100% var(--gj1px);
		background-position: center;
	}

	& > button {
		font-size: 150%;

		&[value="-"] {
			cursor: zoom-out;
		}

		&[value="+"] {
			cursor: zoom-in;
		}
	}
}
