.container {
  display: grid;
  grid-template-columns: minmax(10em, auto) 1fr;
  block-size: var(--gjFullScreenAvailableHeight);

  & > nav {
    background-color: var(--gjGray1);
    border-inline-end: solid var(--gj1px) var(--gjGray4);
  }
}

.list {
  padding: 1em;

  & > .active {
    font-weight: 700;
  }
}

.body {
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  justify-content: start;
  padding: 1em;

  & > h1 {
    border-block-end: solid var(--gj1px) var(--gjGray4);
  }
}
