.container {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.time {
  font-size: 80%;
  color: var(--gjColorText2);
}

.description {
  font-size: 80%;
  vertical-align: text-top;
  text-decoration: none;
}
