.link {
  justify-self: start;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  text-decoration-line: none;
  color: currentColor;
}

.link:hover {
  text-decoration-line: underline;
}

.meta {
  white-space: nowrap;
  font-size: 80%;
  opacity: 0.6;
}
