*,
::before,
::after,
::marker {
  position: relative;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  border-style: none;
  border-width: var(--gj1px);
  border-color: currentcolor;
  list-style: none;
  font: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: inherit;
  background-size: cover;
  background-color: unset;
  text-size-adjust: none;

  @media (prefers-reduced-motion: reduce) {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

:root {
  --gj1px: 1px;
  --gjBaseWidth: 627px;
  --gjGray0: #fff;
  --gjGray1: #f8fafc;
  --gjGray2: #f1f5f9;
  --gjGray3: #e2e8f0;
  --gjGray4: #cbd5e1;
  --gjGray5: #94a3b8;
  --gjGray6: #64748b;
  --gjGray7: #475569;
  --gjGray8: #334155;
  --gjGray9: #1e293b;
  --gjFontSans: 'Helvetica Neue', arial, 'Hiragino Kaku Gothic ProN', meiryo,
    sans-serif;
  --gjFontMonospace: menlo, consolas, monospace;
  --gjFocusOffset: -9em;

  font-size: 16px;
  font-family: var(--gjFontSans);
  line-height: 1.6;
  text-rendering: optimizespeed;
  color: var(--gjGray9);
  block-size: 100%;

  /* stylelint-disable-next-line unit-allowed-list */
  @media (width <= 667px) {
    --gjBaseWidth: 94%;
  }

  /* stylelint-disable-next-line unit-allowed-list */
  @media (width <= 600px) {
    font-size: 15px;
  }
}

main {
  display: grid;
  grid-auto-flow: row;
  align-content: start;
}

article,
section {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: var(--gjBaseWidth);
  justify-content: center;
  row-gap: 0.4em;
}

img,
svg {
  max-inline-size: 100%;
  display: block;
}

/* Style for alt */
img {
  font-size: 80%;
}

picture {
  overflow: hidden;
}

a {
  color: rgb(0 0 207);
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

s {
  text-decoration-line: line-through;
}

b {
  font-weight: bolder;
}

i {
  font-style: italic;
}

pre {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

code {
  white-space: pre-wrap;
  font-family: var(--gjFontMonospace);
  font-size: smaller;
}

p,
label {
  code {
    font-size: inherit;
  }
}

rt {
  font-size: 60%;
}

textarea {
  display: block;
  inline-size: 100%;
  min-inline-size: unset;
  min-block-size: 8em;
  padding-block-start: 0.6em;
  padding-block-end: 0.6em;
  padding-inline-start: 1em;
  padding-inline-end: 1em;
  border-style: solid;
  resize: vertical;
}

button {
  padding-block: 0.3em;
  padding-inline: 0.8em;
  border-style: solid;
  border-radius: 1em;
  border-color: var(--gjGray5);
  justify-self: end;
  cursor: pointer;
  transition: background-color 200ms;

  &:hover {
    background-color: var(--gjGray2);
  }

  &:active {
    background-color: var(--gjGray3);
  }
}

iframe {
  justify-self: stretch;
}

.sr-only {
  position: absolute !important;
  margin: 0 !important;
  padding: 0 !important;
  block-size: 0 !important;
  overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.4em;
  font-weight: 600;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content minmax(max-content, 1fr) max-content;
  align-content: start;
  min-block-size: 100%;

  & > header {
    z-index: 1;
    position: sticky;
    inset-block-start: 0;
    inset-inline: 0;
    box-shadow: 0 1px 0 var(--gjGray3);
  }
}

article {
  & > header {
    margin-block-start: 2em;
    margin-block-end: 1em;
  }
}

.link {
  font-size: 70%;
  color: inherit;
  opacity: 0.4;
  user-select: none;
  text-decoration: none;
}

.link:hover {
  opacity: 1;
}

.anchor {
  position: absolute;
  inset-block-start: -4em;
  visibility: hidden;
}

figure {
  display: grid;
  grid-auto-flow: row;
  row-gap: 0.25em;
  justify-content: stretch;
  overflow: auto;
}

figcaption {
  font-size: 80%;
}

li {
  counter-increment: listItemIndex;
  display: grid;
  grid-template-columns: 1.5em 1fr;
  row-gap: inherit;
  column-gap: 0.5em;
  align-items: baseline;
  justify-items: start;
}

li > * {
  grid-column: -2 / -1;
}

li::before {
  justify-self: end;
  grid-column: 1 / 2;
  text-align: end;
}

ol,
ul {
  counter-reset: listItemIndex;
  display: grid;
  grid-auto-flow: row;
  row-gap: 0.25em;

  & > li > ol,
  & > li > ul {
    margin-inline-start: -0.5em;
  }
}

ol > li::before {
  content: counter(listItemIndex) '.';
}

ul > li::before {
  content: '●';
}

hr {
  block-size: var(--gj1px);
  background-color: currentcolor;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

table {
  max-inline-size: 100%;
  min-inline-size: 20em;
  border-collapse: collapse;
}

td,
th {
  padding-block-start: 0.4em;
  padding-block-end: 0.2em;
  padding-inline-start: 0.5em;
  padding-inline-end: 0.5em;
  border-style: solid;
  border-color: var(--gjGray4);
  font-size: 90%;
}

th {
  text-align: center;
}

blockquote {
  display: grid;
  grid-auto-flow: row;
  row-gap: 1em;
  padding-inline-start: 1em;
  border-inline-start-style: solid;
  border-inline-start-width: 0.2em;
  opacity: 0.85;
}

summary {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 0.2em;
  width: min-content;
  cursor: pointer;
}

summary::before {
  content: '▶︎';
  font-size: 80%;
}

details[open] > summary::before {
  content: '▼';
}

form,
fieldset {
  display: grid;
  grid-auto-flow: row;
  padding-block: 0.5em;
  border-radius: 0.3em;
  border-style: solid;
  border-color: var(--gjGray5);
  background-color: var(--gjGray0);

  & > * {
    margin-block: 0.5em;
    margin-inline: 3%;
  }

  & > h1 {
    margin-block-end: 0.3em;
    font-size: 100%;
  }

  & > p {
    margin-block-start: 0.3em;
  }

  & > label {
    margin-block-end: 0;
  }

  input {
    padding-block: 0.3em;
    padding-inline: 0.5em;
    border-block-end-style: solid;
    border-color: var(--gjGray5);
    background-color: var(--gjGray2);
  }

  legend {
    margin-block-end: 0;
  }
}

.footnotes {
  display: grid;
  grid-auto-flow: row;
  row-gap: 0.5em;
  justify-items: start;
  margin-block-start: 2em;

  & > ol {
    font-size: 90%;
  }
}

.footnotes::before {
  content: '';
  background-color: currentcolor;
  block-size: var(--gj1px);
  inline-size: 100%;
  max-inline-size: 16em;
}

.hljs {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5em;
  justify-items: start;
  align-items: start;
  line-height: 1.5;

  & > a {
    justify-self: end;
    color: inherit;
    opacity: 0.6;
    font-family: var(--gjFontMonospace);
    text-decoration: none;
    user-select: none;

    & > [data-line-focus] {
      position: absolute;
      inset-inline: 0;
      inset-block-start: var(--gjFocusOffset);
    }
  }
}

.hljs-comment,
.hljs-quote {
  color: #017e01;
}

.hljs-attribute,
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-selector-tag,
.hljs-tag,
.hljs-selector-attr {
  color: #92097b;
}

.hljs-template-variable,
.hljs-variable {
  color: #33587a;
}

.hljs-code,
.hljs-string,
.hljs-meta .hljs-string,
.hljs-selector-pseudo {
  color: #c51815;
}

.hljs-link,
.hljs-regexp,
.hljs-bullet,
.hljs-number,
.hljs-symbol,
.hljs-title {
  color: #1500cf;
}

.hljs-meta,
.hljs-section {
  color: #643f20;
}

/* stylelint-disable-next-line selector-class-pattern */
.hljs-built_in,
.hljs-class .hljs-title,
.hljs-params,
.hljs-type {
  color: #5c2699;
}

.hljs-attr {
  color: #775c22;
}

.hljs-subst {
  color: #000;
}

.hljs-formula {
  font-style: italic;
}

.hljs-selector-class,
.hljs-selector-id {
  color: #9b703f;
}

.hljs-doctag,
.hljs-strong {
  font-weight: 700;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}

.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}

.xml {
  .hljs-meta {
    color: silver;
  }
}

sup[data-footnote-ref] {
  font-size: 80%;
  overflow: visible;

  & > [data-footnote-focus] {
    position: absolute;
    inset-inline: 0;
    inset-block-start: var(--gjFocusOffset);
  }

  & > a {
    padding-inline: 0.1em;
  }
}

figure[data-lang='math'] {
  justify-items: center;
  inline-size: 100%;
  overflow: visible;
}

figure[data-lang='math'] > figcaption {
  inline-size: var(--gjBaseWidth);
}

.katex-source {
  position: absolute;
  inset-block-start: 1em;
  block-size: 0;
  inline-size: 0;
  justify-self: center;
  opacity: 0;
  overflow: hidden;
}

.katex-mathml {
  display: none;
}

.katex-inline {
  margin-inline: 0.1em;
}

figure > .katex {
  overflow-x: auto;
  padding-block-start: 0.2em;
  padding-block-end: 0.2em;
  min-inline-size: var(--gjBaseWidth);
  max-inline-size: 100%;
}

figure > .katex > .katex-html {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 1em;
  padding-inline-start: 0.5em;
  padding-inline-end: 0.5em;
}

figure > .katex > .katex-html > .base {
  justify-self: center;
  flex-grow: 1;
  display: inline-flex;
  justify-content: center;
}

.twitter-tweet {
  display: block;
}
