.container {
    display: grid;
    grid-template-columns: 2rem 3rem 2rem;
    justify-items: center;
    justify-content: stretch;
    align-items: baseline;
    text-align: center;
}

.button {
    padding: 0.2rem 0.5rem;
    border-style: solid;
    border-radius: 0.2rem;
}

.count {
    min-inline-size: 3.5rem;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    font-size: 140%;
}
