.container {
	z-index: 9999;
	position: sticky;
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 1fr;
	justify-content: center;
	column-gap: 0.5em;
	inset-block-start: 0;
	inset-inline: 0;
	block-size: var(--gjHeaderHeight);
	padding-inline: calc(50% - var(--gjBaseWidth) / 2);
	background-color: hsl(0deg 0% 100%);
	font-weight: 500;
	line-height: 1;
	border-block-end: solid var(--gj1px) var(--gjGray3);

	&.full {
		--gjBaseWidth: var(--gjBaseFullWidth);
	}

	& > * {
		display: grid;
		grid-auto-flow: column;
		align-items: center;
	}

	& > a {
		text-decoration: none;
		color: inherit;

		& > span {
			padding-block-start: var(--gj1px);
		}

		&:hover {
			text-decoration: underline;
		}

		&[href="/"] {
			grid-column: 1 / 2;
			display: grid;
			grid-template-columns: auto auto;
			column-gap: 0.4em;
			align-items: center;
		}

		&[href="/author"] {
			grid-column: -2 / -1;
		}
	}

	@media print {
		display: none;
	}
}

.logo {
	inline-size: 1.6em;
	margin-inline: 0;
}
