.header {
    z-index: var(--zHeader);
    position: sticky;
    inset-block-start: 0;
    block-size: var(--headerHeight);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.3rem #0002;
    background-color: var(--mainColor);
    line-height: 1;
}
.container {
    inline-size: var(--baseWidth);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sns {
    margin-inline-start: 0.5rem;
    font-size: 90%;
    color: inherit;
}
.titleLink {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}
.title {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1;
    /* (Exception) Use the physical position for visual adjustment on displaying horizontally. */
    padding-top: 1px;
    font-size: 120%;
}
.logo {
    block-size: 1rem;
    margin-inline-end: 0.5rem;
    border-radius: 0.1rem;
    fill: currentColor;
}
