.header {
    z-index: var(--zHeader);
    position: sticky;
    inset-block-start: 0;
    display: grid;
    align-items: center;
    justify-content: stretch;
    justify-items: center;
    padding-block-start: 0.2rem;
    padding-block-end: 0.2rem;
    box-shadow: 0 0 0.3rem #0002;
    background-color: var(--mainColor);
    line-height: 1;
}
.container {
    inline-size: var(--baseWidth);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr repeat(2, auto);
    column-gap: 0.5rem;
    align-items: stretch;
}
.titleLink {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 0.4rem;
    color: inherit;
    text-decoration: none;
}
.title {
    line-height: 1;
    /* (Exception) Use the physical position for visual adjustment on displaying horizontally. */
    padding-top: 2px;
    font-size: 115%;
}
.logo {
    block-size: 1rem;
    border-radius: 0.1rem;
    fill: currentColor;
}
@media (max-width: 280px) {
    .logo {
        display: none;
    }
}
