.container {
  --gjBorder: solid var(--gj1px) var(--gjGray4);
  inline-size: max-content;
  font-size: 13px;
  border-inline: var(--gjBorder);
  border-block-start: var(--gjBorder);
}

.type {
  display: inline-grid;
  padding-inline: 0.3em;
  margin-block: 0.2em;
  font-size: 85%;
  font-weight: 500;
  line-height: 1.4;
  color: var(--gjGray0);
  background-color: var(--gjGray5);
  border-radius: 0.2em;
}

.value {
  font-family: var(--gjFontMonospace);
  white-space: pre-wrap;
}

.kv {
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: start;
  justify-content: start;

  & > .type {
    justify-self: start;
    grid-column: 1 / -1;
    margin-inline-start: 0.3em;
  }

  & > * {
    border-block-end: var(--gjBorder);

    &.first {
      border-block-start: var(--gjBorder);
    }
  }

  & > dt {
    padding-inline: 0.4em;
    text-align: end;
    border-inline-end: var(--gjBorder);
  }

  & > dd {
    display: grid;
    grid-auto-flow: column;
    align-items: baseline;

    &.primitive {
      grid-template-columns: auto 1fr;
      column-gap: 0.3em;
      padding-inline: 0.3em;
    }

    & > .type {
      justify-self: start;
      display: inline-grid;
    }

    & > .value {
      display: grid;
      align-items: center;
      justify-items: start;
    }

    & > .kv {
      justify-self: stretch;
      border-block-start: none;

      & > * {
        &.last {
          border-block-end: none;
        }
      }
    }
  }
}
