.data, .md {
  padding: 0.5em 1em;
  line-height: 1.4;
  background-color: var(--gjGray1);
}

.button {
  padding-inline: 0.5em;
  margin-inline-start: 1em;
  border-style: solid;
  border-radius: var(--gjBorderRadius);
  font-size: 90%;
  line-height: 1.5;
}

.center {
  text-align: center;
}

.wrapper {
  overflow-x: auto;
}

.table {
  min-inline-size: 100%;
  counter-reset: env;

  .firstColumn {
    z-index: 1;
    position: sticky;
    inset-inline-start: 0;
  }

  &>tbody {
    .firstColumn {
      white-space: nowrap;

      &.public {
        &::before {
          content: "NEXT_PUBLIC_";

          /* stylelint-disable-next-line unit-allowed-list */
          @media screen and (width <= 640px) {
            content: "N.P ";
          }
        }
      }
    }

    th {
      font-size: 80%;

      &:first-child {
        text-align: start;
      }
    }
  }
}
