.data,
.md {
	padding: 0.5em 1em;
	line-height: 1.4;
	background-color: var(--gjGray1);
}

.button {
	padding-inline: 0.5em;
	margin-inline-start: 1em;
	border-style: solid;
	border-radius: var(--gjBorderRadius);
	font-size: 90%;
	line-height: 1.5;
}

.center {
	text-align: center;
}

figure > .wrapper {
	min-inline-size: var(--gjBaseWidth);
	max-inline-size: 100%;
	inline-size: auto;
	overflow-x: auto;
}

.table {
	--gjGap: 1px;
	display: grid;
	grid-template-columns: max-content max-content auto;
	gap: var(--gjGap);
	padding: var(--gjGap);
	inline-size: max-content;
	min-inline-size: 100%;

	& > div {
		display: grid;
		grid-auto-flow: column;
		place-content: center;
		padding: 0.2em 0.3em;
		background-color: var(--gjColorBackground);
		box-shadow: 0 0 0 1px var(--gjGray4);

		.icon {
			font-size: 120%;
		}

		&.heading {
			background-color: var(--gjGray2);

			&.firstColumn {
				z-index: 1;
				position: sticky;
				inset-inline-start: var(--gjGap);
			}

			&.label {
				font-size: 90%;
			}

			&.input {
				display: grid;
				grid-template-columns: 1.8em repeat(4, 1.2em);
				place-content: center;
				place-items: center;

				& > .no {
					inline-size: 1.8em;
					margin-inline-end: 0.5em;
					font-variant-numeric: tabular-nums;
					text-align: end;
				}
			}

			&.name {
				justify-content: start;
				padding-inline: 0.5em;
			}

			&.odd {
				background-color: var(--gjBlue1);
			}

			&.even {
				background-color: var(--gjRed1);
			}
		}

		&.odd {
			background-color: var(--gjBlue0);
		}

		&.even {
			background-color: var(--gjRed0);
		}
	}
}

.mathRef {
	display: none;
}
