.footer {
    position: sticky;
    inset-block-start: 100%;
    display: grid;
    grid-auto-flow: row;
    justify-content: stretch;
    padding-block-start: 1rem;
    background-color: var(--gray2);
}

.sign {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto);
    grid-auto-flow: column;
    column-gap: 0.5rem;
    justify-items: end;
    align-items: center;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
}
