._0{display:block;inline-size:100%;block-size:500px;max-block-size:50vh;background-color:var(--gray8)}
._1{position:absolute;block-size:1em;inline-size:1em;overflow:hidden;opacity:0}
._2{display:block;inline-size:100%;block-size:240px;background-color:var(--gray1)}
._3{align-items:stretch}
._3[data-type=youtube]>iframe{inline-size:100%}
.twitter-tweet{margin-top:0 !important;margin-bottom:0 !important}
._4{inline-size:var(--baseWidth);display:grid;grid-auto-flow:column;grid-template-columns:auto 1fr repeat(2, auto);column-gap:0.5rem;align-items:stretch}
._5{z-index:var(--zHeader);position:sticky;inset-block-start:0;display:grid;align-items:center;justify-content:stretch;justify-items:center;padding-block-start:0.4rem;padding-block-end:0.4rem;background-color:var(--gray2);border-block-end:solid 1px var(--gray3)}
._6{display:grid;grid-auto-flow:column;align-items:center;column-gap:0.4rem;color:inherit;text-decoration:none}
._7{font-size:115%;line-height:1}
._8{block-size:1rem;fill:currentColor}
@media (max-width: 280px){._8{display:none}}
._9{display:grid;grid-auto-flow:row;row-gap:0.2rem}
._a{display:block;font-size:80%}
._b{justify-self:start;display:flex;flex-wrap:wrap;align-items:baseline;text-decoration-line:none;color:currentColor}
._b:hover{text-decoration-line:underline}
._c{white-space:nowrap;font-size:80%;opacity:0.6}
._d{position:sticky;inset-block-start:100%;display:grid;grid-auto-flow:row;justify-content:stretch;padding-block-start:1rem;background-color:var(--gray2);border-block-start:solid 1px var(--gray3)}
._e{display:grid;grid-template-columns:1fr repeat(2, auto);grid-auto-flow:column;column-gap:0.5rem;justify-items:end;align-items:center;padding-block-start:1rem;padding-block-end:1rem}
._f{display:grid;grid-auto-flow:column;column-gap:0.2em;align-items:center;color:inherit;text-decoration:none}
._g{font-size:90%}
@media (max-width: 370px){._g{display:none}}
._h{display:grid;grid-template-columns:2rem 3rem 2rem;justify-items:center;justify-content:stretch;align-items:baseline;text-align:center}
._i{padding:0.2rem 0.5rem;border-style:solid;border-radius:0.2rem}
._j{min-inline-size:3.5rem;padding-inline-start:0.5rem;padding-inline-end:0.5rem;font-size:140%}