*, ::before, ::after, ::marker {
    position: relative;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border-style: none;
    border-width: 1px;
    border-color: currentColor;
    list-style: none;
    font: inherit;
    color: inherit;
    text-decoration: inherit;
    background-size: cover;
    background-color: transparent;
}
:root {
    --baseWidth: 630px;
    --mainColor: #c4c07e;
    --textColor: #4f4310;
    --accentColor: #c13a1e;
    --backgroundColor: #f8f7e6;
    --white: #fffff8;
    --zHeader: 1;
    --listIndexSize: 2rem;
    --font-default: Georgia, 'BIZ UDMincho', serif;
    --font-monospace: 'Roboto Mono', monospace;
    font-size: 16px;
    font-family: var(--font-default);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--textColor);
    block-size: 100%;
    background-color: var(--backgroundColor);
}
:root:focus-within {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: var(--baseWidth);
    margin-inline-start: auto;
    margin-inline-end: auto;
}
article {
    max-inline-size: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
img, svg, picture {
    max-inline-size: 100%;
    display: block;
}
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *, ::before, ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

a {
    color: rgb(0, 0, 207);
    text-decoration: underline;
}
s {
    text-decoration-line: line-through;
}
b {
    font-weight: bolder;
}
i {
    font-style: italic;
}
pre {
    white-space: pre-wrap;
}
code {
    white-space: pre;
    font-family: var(--font-monospace);
}
rt {
    font-size: 60%;
}
input, textarea {
    transition-property: box-shadow;
    transition-duration: 0.2s;
}
input:focus, textarea:focus {
    background-color: var(--white);
    box-shadow: 0 0.2rem 1rem #0003;
}
input {
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    border-block-end-style: solid;
}
textarea {
    display: block;
    inline-size: 100%;
    min-inline-size: unset;
    min-block-size: 8rem;
    padding-block-start: 0.6rem;
    padding-block-end: 0.6rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    border-style: solid;
    resize: vertical;
}
button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    font-weight: bolder;
}
h1, h2, h3 {
    margin-block-start: 2rem;
}
h1 {
    font-size: 140%;
}
h2 {
    font-size: 116%;
}
h3 {
    font-size: 108%;
}
.raw-link {
    font-size: 70%;
    color: inherit;
    opacity: 0.4;
    user-select: none;
    text-decoration: none;
}
.raw-link:hover {
    opacity: 1;
}
.raw-anchor {
    position: absolute;
    inset-block-start: -4rem;
    visibility: hidden;
}
p, li {
    line-height: 1.8;
}
p {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    text-align: justify;
}
p::before {
    content: '';
    display: inline-block;
    inline-size: 1em;
}
li>p::before {
    content: none;
}
figure {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    overflow: auto;
}
figcaption {
    font-size: 90%;
    margin-block-end: 0.25em;
}
ol, ul {
    inline-size: 100%;
    counter-reset: listItemIndex;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}
li {
    counter-increment: listItemIndex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-inline-start: var(--listIndexSize);
    margin-block-start: 0.4rem;
    margin-block-end: 0.4rem;
}
li>ol, li>ul {
    padding-inline-start: calc(var(--listIndexSize) - 1rem);
    margin-block-start: 0;
    margin-block-end: 0;
}
li::before {
    position: absolute;
    inline-size: var(--listIndexSize);
    inset-block-start: 0;
    inset-inline-start: 0;
    padding-inline-end: 0.5rem;
    text-align: end;
}
ol>li::before {
    content: counter(listItemIndex) '.';
    font-variant-numeric: tabular-nums;
}
ul>li::before {
    content: 'â—';
}
li>p {
    flex: 1;
    margin-block-start: 0;
    margin-block-end: 0;
}
li[data-checkbox] {
    padding-inline-start: calc(var(--listIndexSize) - 1.3rem);
}
li[data-checkbox]::before {
    content: none;
}
li[data-checkbox]>input {
    margin-inline-end: 0.5rem;
}
ol[data-lang] {
    margin-block-start: 0;
    margin-block-end: 0;
    overflow-x: auto;
    font-family: var(--font-monospace);
    font-size: smaller;
}
ol[data-lang]>li {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.5;
}
ol[data-lang]>li::before {
    content: counter(listItemIndex);
    opacity: 0.6;
    border-inline-end-width: 1px;
    border-inline-end-style: solid;
    border-inline-end-color: currentColor;
}
ol[data-lang]>li>code {
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
}
hr {
    block-size: 1px;
    background-color: currentColor;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}
table {
    max-inline-size: 100%;
    min-inline-size: 20rem;
    border-collapse: collapse;
}
td, th {
    padding-block-start: 0.4rem;
    padding-block-end: 0.2rem;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    border-style: solid;
}
blockquote {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    padding-inline-start: 1rem;
    border-inline-start-style: solid;
    border-inline-start-width: 0.2rem;
    opacity: 0.85;
}
[data-footnote] {
    font-size: 90%;
}
.raw-footnotes {
    display: grid;
    grid-template-columns: var(--listIndexSize) 1fr;
    grid-template-rows: 0.5rem;
    row-gap: 0.5rem;
    margin-block-start: 3rem;
    margin-block-end: 1rem;
    font-size: 90%;
    line-height: 1.6;
}
.raw-footnotes::before {
    content: '';
    grid-column: 1 / 3;
    background-color: currentColor;
    block-size: 1px;
    inline-size: 100%;
    max-inline-size: 16rem;
}
.raw-footnotes>dt {
    padding-inline-end: 0.5rem;
    text-align: end;
}
.raw-footnotes>dd>p {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: inherit;
}
.raw-footnotes>dd>p::before {
    content: none;
}

.raw-xml .raw-hljs-meta{color:silver}
.raw-hljs-comment, .raw-hljs-quote{color:#017e01}
.raw-hljs-attribute, .raw-hljs-keyword, .raw-hljs-literal, .raw-hljs-name, .raw-hljs-selector-tag, .raw-hljs-tag, .raw-hljs-selector-attr{color:#92097b}
.raw-hljs-template-variable, .raw-hljs-variable{color:#33587a}
.raw-hljs-code, .raw-hljs-meta .raw-hljs-string, .raw-hljs-string, .raw-hljs-selector-pseudo{color:#c51815}
.raw-hljs-link, .raw-hljs-regexp, .raw-hljs-bullet, .raw-hljs-number, .raw-hljs-symbol, .raw-hljs-title{color:#1500cf}
.raw-hljs-meta, .raw-hljs-section{color:#643f20}
.raw-hljs-built_in, .raw-hljs-class .raw-hljs-title, .raw-hljs-params, .raw-hljs-type{color:#5c2699}
.raw-hljs-attr{color:#775c22}
.raw-hljs-subst{color:#000}
.raw-hljs-formula{font-style:italic}
.raw-hljs-selector-class, .raw-hljs-selector-id{color:#9b703f}
.raw-hljs-doctag, .raw-hljs-strong{font-weight:700}
.raw-hljs-emphasis{font-style:italic}
.raw-hljs-addition{color:#22863a;background-color:#f0fff4}
.raw-hljs-deletion{color:#b31d28;background-color:#ffeef0}

@media (max-width: 700px) {
    :root {
        --baseWidth: 90%;
    }
}
@media (max-width: 500px) {
    p {
        text-align: unset;
    }
}
