@font-face {
    src: url(/fonts/besley/Besley-VariableFont_wght.ttf) format('truetype');
    font-family: 'Besley';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
}
@font-face {
    src: url(/fonts/besley/Besley-Italic-VariableFont_wght.ttf) format('truetype');
    font-family: 'Besley';
    font-style: italic;
    font-display: swap;
    font-weight: 100 900;
}
*, ::before, ::after, ::marker {
    position: relative;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border-style: none;
    border-width: 1px;
    border-color: currentColor;
    list-style: none;
    font: inherit;
    color: inherit;
    text-decoration: inherit;
    background-size: cover;
    background-color: unset;
    -webkit-text-size-adjust: none;
}
:root {
    --baseWidth: 627px;
    --baseGap: 1rem;
    --gray0: #ffffff;
    --gray1: #f8fafc;
    --gray2: #f1f5f9;
    --gray3: #e2e8f0;
    --gray4: #cbd5e1;
    --gray5: #94a3b8;
    --gray6: #64748b;
    --gray7: #475569;
    --gray8: #334155;
    --gray9: #1e293b;
    --zHeader: 1;
    --listIndexSize: 1.5rem;
    --font-default: Besley, Georgia, 'BIZ UDMincho', serif;
    --font-monospace: Menlo, Consolas, monospace;
    font-size: 17px;
    font-family: var(--font-default);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--gray9);
    block-size: 100%;
}
body, #raw-__next {
    min-height: 100vh;
}
main {
    display: grid;
    grid-auto-flow: row;
    row-gap: 1rem;
    padding-block-end: 3rem;
    background-color: var(--gray0);
}
article, section {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    row-gap: var(--baseGap);
}
article>*, section>* {
    inline-size: var(--baseWidth);
}
article>header {
    margin-block-start: 2rem;
    margin-block-end: 1rem;
}
img, svg {
    max-inline-size: 100%;
    display: block;
}
/* Style for alt */
img {
    font-size: 80%;
}
picture {
    overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }
}

article a {
    color: rgb(0, 0, 207);
    text-decoration: underline;
}
s {
    text-decoration-line: line-through;
}
b {
    font-weight: bolder;
}
i {
    font-style: italic;
}
pre {
    white-space: pre-wrap;
}
code {
    white-space: pre-wrap;
    font-family: var(--font-monospace);
    font-size: smaller;
}
rt {
    font-size: 60%;
}
input {
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    border-block-end-style: solid;
}
textarea {
    display: block;
    inline-size: 100%;
    min-inline-size: unset;
    min-block-size: 8rem;
    padding-block-start: 0.6rem;
    padding-block-end: 0.6rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    border-style: solid;
    resize: vertical;
}
button {
    cursor: pointer;
}
iframe {
    max-inline-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}
h2, h3 {
    margin-block-start: 1rem;
}
header+h2, header+h3 {
    margin-block-start: 0;
}
h1 {
    font-size: 130%;
    line-height: 1.3;
}
h2 {
    font-size: 112%;
    line-height: 1.4;
}
h3 {
    font-size: 106%;
}
.raw-link {
    font-size: 70%;
    color: inherit;
    opacity: 0.4;
    user-select: none;
    text-decoration: none;
}
.raw-link:hover {
    opacity: 1;
}
.raw-anchor {
    position: absolute;
    inset-block-start: -4rem;
    visibility: hidden;
}
p, li {
    line-height: 1.75;
}
p {
    text-align: justify;
}
figure {
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.25rem;
    justify-content: stretch;
    overflow: auto;
}
figcaption {
    font-size: 80%;
}
ol, ul {
    counter-reset: listItemIndex;
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.25rem;
}
li {
    counter-increment: listItemIndex;
    display: grid;
    grid-template-columns: var(--listIndexSize) 1fr;
    row-gap: inherit;
    column-gap: 0.5rem;
    align-items: baseline;
}
li>* {
    grid-column: 2 / 3;
}
li>ol, li>ul {
    margin-inline-start: -0.5rem;
}
li::before {
    grid-column: 1 / 2;
    text-align: end;
    line-height: 1;
}
ol>li::before {
    content: counter(listItemIndex) '.';
}
ul>li::before {
    content: 'â—';
}
li[data-checkbox]::before {
    content: none;
}
li[data-checkbox]>input {
    grid-column: 1 / 2;
    justify-self: end;
}
ol[data-lang] {
    row-gap: 0;
    overflow-x: auto;
    font-family: var(--font-monospace);
}
ol[data-lang]>li {
    align-items: stretch;
    line-height: 1.5;
}
ol[data-lang]>li::before {
    content: counter(listItemIndex);
    opacity: 0.6;
    font: inherit;
    font-size: smaller;
}
ol[data-lang]>li>code {
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    border-inline-start-width: 1px;
    border-inline-start-style: solid;
    border-inline-start-color: currentColor;
    white-space: pre;
}
hr {
    block-size: 1px;
    background-color: currentColor;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}
table {
    max-inline-size: 100%;
    min-inline-size: 20rem;
    border-collapse: collapse;
}
td, th {
    padding-block-start: 0.4rem;
    padding-block-end: 0.2rem;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    border-style: solid;
    font-size: 90%;
}
blockquote {
    display: grid;
    grid-auto-flow: row;
    row-gap: 1rem;
    padding-inline-start: 1rem;
    border-inline-start-style: solid;
    border-inline-start-width: 0.2rem;
    opacity: 0.85;
}
[data-footnote] {
    font-size: 80%;
}
[data-footnote]>a {
    text-decoration: none;
}
.raw-footnotes {
    display: grid;
    grid-template-columns: var(--listIndexSize) 1fr;
    grid-template-rows: 0.5rem;
    row-gap: 0.5rem;
    margin-block-start: 2rem;
    font-size: 90%;
    line-height: 1.6;
}
.raw-footnotes::before {
    content: '';
    grid-column: 1 / 3;
    background-color: currentColor;
    block-size: 1px;
    inline-size: 100%;
    max-inline-size: 16rem;
}
.raw-footnotes>dt {
    padding-inline-end: 0.5rem;
    text-align: end;
}
.raw-footnotes>dt>a {
    text-decoration: none;
}
.raw-footnotes>dd>p {
    line-height: inherit;
}

.raw-xml .raw-hljs-meta{color:silver}
.raw-hljs-comment, .raw-hljs-quote{color:#017e01}
.raw-hljs-attribute, .raw-hljs-keyword, .raw-hljs-literal, .raw-hljs-name, .raw-hljs-selector-tag, .raw-hljs-tag, .raw-hljs-selector-attr{color:#92097b}
.raw-hljs-template-variable, .raw-hljs-variable{color:#33587a}
.raw-hljs-code, .raw-hljs-meta .raw-hljs-string, .raw-hljs-string, .raw-hljs-selector-pseudo{color:#c51815}
.raw-hljs-link, .raw-hljs-regexp, .raw-hljs-bullet, .raw-hljs-number, .raw-hljs-symbol, .raw-hljs-title{color:#1500cf}
.raw-hljs-meta, .raw-hljs-section{color:#643f20}
.raw-hljs-built_in, .raw-hljs-class .raw-hljs-title, .raw-hljs-params, .raw-hljs-type{color:#5c2699}
.raw-hljs-attr{color:#775c22}
.raw-hljs-subst{color:#000}
.raw-hljs-formula{font-style:italic}
.raw-hljs-selector-class, .raw-hljs-selector-id{color:#9b703f}
.raw-hljs-doctag, .raw-hljs-strong{font-weight:700}
.raw-hljs-emphasis{font-style:italic}
.raw-hljs-addition{color:#22863a;background-color:#f0fff4}
.raw-hljs-deletion{color:#b31d28;background-color:#ffeef0}

figure[data-lang=math] {
    justify-items: center;
    inline-size: 100%;
    overflow: visible;
}
figure[data-lang=math]>figcaption {
    inline-size: var(--baseWidth);
}
.raw-katex {
    user-select: none;
    font-size: 110%;
}
.raw-katex-inline {
    margin-inline-start: 0.1rem;
    margin-inline-end: 0.1rem;
}
.raw-katex-source {
    position: absolute;
    inset-block-start: 1rem;
    block-size: 1px;
    inline-size: 1px;
    justify-self: center;
    opacity: 0;
    overflow: hidden;
}
figure>.raw-katex {
    overflow-x: auto;
    display: block;
    padding-block-start: 0.2rem;
    padding-block-end: 0.2rem;
    min-inline-size: var(--baseWidth);
    max-inline-size: 100%;
}
figure>.raw-katex>.raw-katex-html {
    display: flex;
}
figure>.raw-katex>.raw-katex-html>.raw-base {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
figure>.raw-katex>.raw-katex-html>.raw-base {
    padding-inline-start: 0.5em;
    padding-inline-end: 0.5em;
}
.raw-katex .raw-base>* {
    display: inline-flex;
}
figure>.raw-katex>.raw-katex-html>.raw-tag {
    flex-shrink: 0;
    overflow: hidden;
}

@media (max-width: 667px) {
    :root {
        --baseWidth: 94%;
    }
}
@media (max-width: 600px) {
    :root {
        font-size: 16px;
    }
    .raw-katex {
        font-size: 100%;
    }
    p {
        text-align: unset;
    }
}
