.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: var(--gjGray2);
  padding-block-start: 2em;
  padding-block-end: 1em;
  row-gap: 1em;

  & > section {
    &:last-child {
      display: grid;
      grid-auto-flow: column;
      justify-items: end;
    }
  }
}
