.container {
  display: grid;
  grid-template-columns: var(--baseWidth);
  justify-content: center;
  & > section {
    &:last-child {
      display: grid;
      grid-auto-flow: column;
      justify-items: end;
    }
  }
}
