.container {
  display: grid;
  grid-auto-flow: row;
  gap: 0.2em;
  padding: 0.6em 0.8em;
  font-size: 14px;
  font-family: var(--gjFontMonospace);
  line-height: 1;
  background-color: var(--gjGray2);

  & > dl {
    display: grid;
    grid-template-columns: max-content 1fr;

    & > dt {
      white-space: pre;
      color: var(--gjRed9);
    }

    & > dd {
      &[title="String"] {
        color: var(--gjRed6);
      }

      &[title="Number"],
      &[title="Boolean"] {
        color: var(--gjBlue6);
      }

      &[title="Undefined"] {
        color: var(--gjGray5);
      }
    }
  }
}
