/* stylelint-disable block-no-empty */
.aaa {
  :global {
    .bbb :local .ccc {
      font: inherit;

      .ddd {
        font: inherit;
      }
    }

    .eee :local(.fff) .ggg {
      font: inherit;

      .hhh {
        font: inherit;
      }
    }
  }
}
